
<%-include('header')%>
<style>
  /* x 축 글자 색*/
  .c3 .c3-axis-x{
    stroke:black;
  /*  font-weight:100;*/
  }
  .c3 .c3-axis-y{
    stroke:black;
    font-weight:100;
  }
  /*아래 범레의 글자색 변경*/
  .c3 .c3-legend-item{
     fill:black;
     font-weight:100;
  }

</style>

<div class="ui divided grid">
  <div class="three column row">
    <div class="left floated column parent">
      <div class="neStatus">
        <p>WGS</p>
        <div id="cscfCircle"><p>정상</p></div>
      </div>
      <div class="alarmContent">
        <p>
          <i class="large green bell icon"></i>
          알람내역
        </p>
      </div>
      <div id="eventWindow" class='animated bounceInLeft delay-0s faster'>
        <% for(var i=0;i<eventValueArray.length;i++){%>
          <%=eventValueArray[i]%><br>
        <%}%>
      </div>
    </div>
    <div class="center floated column">
      <div class="neStatus">
        <p>IBCF</p>
        <div id="ibcfCircle"><p>정상</p></div>
      </div>

      <div class="alarmContent">
        <p>
          <i class="large green bell icon"></i>
            알람내역
        </p>
      </div>
      <div id="eventWindow" class='animated bounceInRight delay-0s faster'><%=title%></div>
    </div>
    <div class="right floated column">
      <div class="neStatus">
        <p>TAS</p>
        <div id="tasCircle"><p>정상</p></div>
      </div>
      <div class="alarmContent">
        <p>
          <i class="large green bell icon"></i>
            알람내역
        </p>
      </div>
      <div id="eventWindow" class='animated bounceInRight delay-0s faster'><%=title%></div>
    </div>
  </div> <!-- three column row end-->

  <!--<div class="ui grid">-->
    <div class="sixteen wide column">
      <center><b>현재 완료율</b></cener>
      <div id="barCompleteChart1"></div>
    </div>
  <!--</div>-->

 <!-- <div class="three column row">
    <div class="left floated column">
      <div class="runAway">
        <p><i class="green large phone sign icon"></i>발신폭주호 Top 10</p>
        <span></span>
      </div>
    </div>
    <div class="center floated column">
      <div class="runAway">
        <p><i class="green large phone sign icon"></i>착신폭주호 Top 10</p>
      </div>
    </div>
    <div class="right floated column">
      <div class="runAway">
        <p><i class="green large phone sign icon"></i>절단건수</p>
      </div>
    </div>
  </div>--><!--three column row end-->
  <div class="row">
    <div class="runAway" style="width:65.0%;border:2px solid #cccccc;margin-left:0.8%;margin-right:0.8%;height:100px;">
      <p><i class="green large phone sign icon"></i>폭주호 TOP 10</p>
      <span></span>
    </div>
    <div class="runAway1" style="width:31.7%;border:2px solid #cccccc;margin-left:0.8%;margin-right:0.8%;height:100px;">
      <p><i class="green large phone sign icon"></i>절단건수</p>
      <span></span>
    </div>
  </div>

</div> <!-- ui divided grid-->

<script>
//CSCF#1 WGS완료율 차트
var barCompleteChart1=c3.generate({
  bindto:'#barCompleteChart1',
  data:{
    x:'TIME',
    hide:['TIME'],
    type:'bar',
    columns:[

      ['TIME',
        <%for(i in result1){%>
          <%=result1[i].TIME%>,
        <%}%>
      ],
      ['YIWGS1',
        <%for(i in result1){%>
          <%=result1[i].YIWGS1_C%>,
        <%}%>
      ],
      ['GRWGS1',
        <%for(i in result1){%>
          <%=result1[i].GRWGS1_C%>,
        <%}%>
      ],
      ['GRWGS2',
        <%for(i in result1){%>
          <%=result1[i].GRWGS2_C%>,
        <%}%>
      ],
      ['DAJUN1',
        <%for(i in result1){%>
          <%=result1[i].DAJUN1_C%>,
        <%}%>
      ]
    ],
   },
  grid:{
    x:{
      show:true
    },
    y:{
      show:true
    }
  },

  tooltip:{
    grouped:false,
  },
  legend:{
    hide:['TIME','YIWGS1L','GRWGS1L','GRWGS2L'],
    item:{
      onclick:function(id){
      //  console.log(id);// 범레를 클릭했을 때 기본 동작 함수를 오버라이드 함
      }
    },
    item:{
      onmouseover:function(id){
        var routeName=['YIWGS1','YIWGS1L','GRWGS1','GRWGS1L','GRWGS2','GRWGS2L'];
        jQuery(document).on('mouseover',".c3-legend-item-"+id,function(){
        //console.log('xxx');
      //  completeChart1.hide(routeName);
      //  completeChart1.show([id,id+'L']);

        }).on('mouseout','.c3-legend-item-'+id,function(){
      //    completeChart1.show(routeName);
        });
      }
    }
  },
  axis:{
    x:{
      type:'category',
      //categories:'TIME',
      tick:{
        centered:true
      }
    },
    y:{
      max:100,
      min:20,
      tick:{
        format:d3.format('.0f')
      },
      label:{
        text:'완료율',
        position:'outer-middle'
      }
    }
  },
  color:{
    pattern:['#abcdef','#efefef','#cdef01']
  },
  transition:{
    duration:1000
  },
});  //end chart 완요율

//완료울저하 eventWindow
setInterval(function(){
  jQuery.when(jQuery.ajax('/eventAjax')).then(function(res){
    jQuery('#eventWindow').html(res);
  });
},6000);
//폭주호 리스트
setInterval(function(){
  jQuery.when(jQuery.ajax('/runAwayAjax')).then(function(res){
    jQuery('.runAway span').html(res);
  });
},6000);

jQuery.when(jQuery.ajax('/runAwayAjax')).then(function(res){
    jQuery('.runAway span').html(res);
});

</script>


<%-include('footer')%>
