<%-include('header')%>

<div class="ui grid">
  <div class="eight wide column">
    <center id="cscf1"><b class="animated  zoomIn slower">CSCF#1 루트별 시도호</b></center>
    <div id='callChart1' class='animated bounceInLeft delay-0s fast'></div>
  </div>

  <div class="eight wide column">
    <a href="#cscf2"></a><!--책갈피-->
    <center><b>CSCF#1 루트별 완료율</a></b></center>
    <div id='completeChart1' class="animated bounceInRight delay-0s fast"></div>
  </div>



  <div class="eight wide column">
    <center id="cscf2"><b>CSCF#2 루트별 시도호</b></center>
    <div id='callChart2' id='cscf2' class='animated bounceInLeft delay-0s slow'></div>
  </div>

  <div class="eight wide column">
    <center><b>CSCF#2 루트별 완료율</a></b></center>
    <div id='completeChart2' class='animated bounceInRight delay-0s slow'></div>
  </div>

  <div class="eight wide column">
    <center id="cscf3"><b>CSCF#3 루트별 시도호</b></center>
    <div id='callChart3' class='c3-line-ata2'></div>
  </div>

  <div class="eight wide column">
    <center><b>CSCF#3 루트별 완료율</a></b></center>
    <div id='completeChart3'></div>
  </div>
</div> <!-- ui grid end-->
</div> <!-- 전체 레이아웃 -->


<script>
  var monitoringTime=600000;
  var timeArray=new Array();
  var routeName=['YIWGS1','YIWGS1L','GRWGS1','GRWGS1L','GRWGS2','GRWGS2L'];
  var animationCnt=0;
  var beforeAnimationCnt=0;

//x축시간 표시(사용안함)
function timeLapse(){
  var now=new Date();
  var nowHour=now.getHours();
  var nowMinute=now.getMinutes();
  var epochMonitoringStartTime=now-monitoringTime;
  var monitoringStartTime=new Date(epochMonitoringStartTime);
  var monitoringStartTimeHour=monitoringStartTime.getHours();
  var monitoringStartTimeMinute=monitoringStartTime.getMinutes();

  for(var i=0;i<=monitoringTime/60000;i++){
    if(monitoringStartTimeMinute+i<60){
      timeArray.push(monitoringStartTimeHour+':'+(monitoringStartTimeMinute+i));
    }else{
      var j=60;
      timeArray.push(nowHour+':'+((monitoringStartTimeMinute+i)-j));
    }
  }
  return timeArray;
}

//Event Window창에 경보내용 표시
function displayEvent(result,cscf){

  //완료율 차트 그릴때 범례에 각 완료률이 초기값 나오는 버그 제거용 더미 코
  result.TIME.unshift('TIME');  //배열 맨 앞에 루트네임을 위치
  result.YIWGS1.unshift('YIWGS1');
  result.YIWGS1L.unshift('YIWGS1L');
  result.GRWGS1.unshift('GRWGS1');
  result.GRWGS1L.unshift('GRWGS1L');
  result.GRWGS2.unshift('GRWGS2');
  result.GRWGS2L.unshift('GRWGS2L');
  /////////// 더미코드 끝


  //var beforeAnimationCnt=0;
  var animationCnt=(jQuery('#eventWindow>br').size());
  if(animationCnt!=beforeAnimationCnt){
    var elem=document.getElementById('eventWindow');
    try{
      elem.classList.remove('bounceInLeft');
    }catch(e){

    }
    elem.classList.add('shake');
    elem.addEventListener('animationend',function(){
    elem.classList.remove('shake');
    });
  }

  beforeAnimationCnt=animationCnt;
}


//-------------CSCF#1---------------------
// CSCF#1 시도호 차트생성
var callChart1=c3.generate({
  bindto:'#callChart1',
   data:{
    x:'TIME',
    hide:['TIME'],
    type:'spline',
    columns:[

      ['TIME',
        <%for(i in result1.reverse()){%> //시간순으로  results배열을 변경
          <%=result1[i].TIME%>,
        <%}%>
      ],
      ['YIWGS1',
        <%for(i in result1){%>
          <%=result1[i].YIWGS1_A%>,
        <%}%>
      ],
      ['GRWGS1',
        <%for(i in result1){%>
          <%=result1[i].GRWGS1_A%>,
        <%}%>
      ],
      ['GRWGS2',
        <%for(i in result1){%>
          <%=result1[i].GRWGS2_A%>,
        <%}%>
      ],
      ['DAJUN1',
        <%for(i in result1){%>
          <%=result1[i].DAJUN1_A%>,
        <%}%>
      ],
    ],
   },
  zoom:{
    enabled:true,
    type:'scroll',
  },
  grid:{
    x:{
      show:true
    },
    y:{
      show:true
    }
  },

  tooltip:{
    grouped:false
  },
  legend:{
    hide:['TIME','YIWGS1L','GRWGS1L','GRWGS2L'],
    item:{
      onclick:function(id){
      //  console.log(id);
      }
    },
    item:{
      onmouseover:function(id){
        var routeName=['YIWGS1','YIWGS1L','GRWGS1','GRWGS1L','GRWGS2','GRWGS2L'];
        jQuery(document).on('mouseover',".c3-legend-item-"+id,function(){

        callChart1.hide(routeName);
        callChart1.show([id,id+'L']);

        }).on('mouseout','.c3-legend-item-'+id,function(){
          callChart1.show(routeName);
        });
      }
    }
  },
  axis:{
    x:{
      type:'category',
      //categories:'TIME',
      tick:{
        centered:true,
      }
    },
    y:{
      max:30000,
      min:100,
      label:{
        text:'시도호',
        position:'outer-middle'
      }
    }
  },
  color:{
    pattern:['#abcdef','#efefef','#cdef01']
  },
  transition:{
    duration:1000
  },
});  //end chart 시도호

//CSCF#1완료율 차트
var completeChart1=c3.generate({
  bindto:'#completeChart1',
  data:{
    x:'TIME',
    hide:['TIME'],
    type:'spline',
    columns:[

      ['TIME',
        <%for(i in result1){%>
          <%=result1[i].TIME%>,
        <%}%>
      ],
      ['YIWGS1',
        <%for(i in result1){%>
          <%=result1[i].YIWGS1_C%>,
        <%}%>
      ],
      ['GRWGS1',
        <%for(i in result1){%>
          <%=result1[i].GRWGS1_C%>,
        <%}%>
      ],
      ['GRWGS2',
        <%for(i in result1){%>
          <%=result1[i].GRWGS2_C%>,
        <%}%>
      ],
      ['DAJUN1',
        <%for(i in result1){%>
          <%=result1[i].DAJUN1_C%>,
        <%}%>
      ]
    ],
   },
  grid:{
    x:{
      show:true
    },
    y:{
      show:true
    }
  },

  tooltip:{
    grouped:false,
  },
  legend:{
    hide:['TIME','YIWGS1L','GRWGS1L','GRWGS2L'],
    item:{
      onclick:function(id){
      //  console.log(id);// 범레를 클릭했을 때 기본 동작 함수를 오버라이드 함
      }
    },
    item:{
      onmouseover:function(id){
        var routeName=['YIWGS1','YIWGS1L','GRWGS1','GRWGS1L','GRWGS2','GRWGS2L'];
        jQuery(document).on('mouseover',".c3-legend-item-"+id,function(){
        //console.log('xxx');
        completeChart1.hide(routeName);
        completeChart1.show([id,id+'L']);

        }).on('mouseout','.c3-legend-item-'+id,function(){
          completeChart1.show(routeName);
        });
      }
    }
  },
  axis:{
    x:{
      type:'category',
      //categories:'TIME',
      tick:{
        centered:true
      }
    },
    y:{
      max:100,
      min:20,
      tick:{
        format:d3.format('.0f')
      },
      label:{
        text:'완료율',
        position:'outer-middle'
      }
    }
  },
  color:{
    pattern:['#abcdef','#efefef','#cdef01']
  },
  transition:{
    duration:1000
  },
});  //end chart 완요율

//---------------CSCF#2---------------
//CSCF#2 시도호 차트
var callChart2=c3.generate({
  bindto:'#callChart2',
   data:{
    x:'TIME',
    hide:['TIME'],
    type:'spline',
    columns:[

      ['TIME',
        <%for(i in result2.reverse()){%> //시간순으로  results배열을 변경
          <%=result2[i].TIME%>,
        <%}%>
      ],
      ['YIWGS1',
        <%for(i in result2){%>
          <%=result2[i].YIWGS1_A%>,
        <%}%>
      ],
      ['GRWGS1',
        <%for(i in result2){%>
          <%=result2[i].GRWGS1_A%>,
        <%}%>
      ],
      ['GRWGS2',
        <%for(i in result2){%>
          <%=result2[i].GRWGS2_A%>,
        <%}%>
      ],
      ['DAJUN1',
        <%for(i in result2){%>
          <%=result2[i].DAJUN1_A%>,
        <%}%>
      ],
    ],
   },
  zoom:{
    enabled:true,
    type:'scroll',
  },
  grid:{
    x:{
      show:true
    },
    y:{
      show:true
    }
  },

  tooltip:{
    grouped:false
  },
  legend:{
    hide:['TIME','YIWGS1L','GRWGS1L','GRWGS2L'],
    item:{
      onclick:function(id){
      //  console.log(id);
      }
    },
    item:{
      onmouseover:function(id){
        var routeName=['YIWGS1','YIWGS1L','GRWGS1','GRWGS1L','GRWGS2','GRWGS2L'];
        jQuery(document).on('mouseover',".c3-legend-item-"+id,function(){

        callChart1.hide(routeName);
        callChart1.show([id,id+'L']);

        }).on('mouseout','.c3-legend-item-'+id,function(){
          callChart1.show(routeName);
        });
      }
    }
  },
  axis:{
    x:{
      type:'category',
      //categories:'TIME',
      tick:{
        centered:true,
      }
    },
    y:{
      max:30000,
      min:100,
      label:{
        text:'시도호',
        position:'outer-middle'
      }
    }
  },
  color:{
    pattern:['#abcdef','#efefef','#cdef01']
  },
  transition:{
    duration:1000
  },
});
//CSCF#2 완료율 차트
var completeChart2=c3.generate({
  bindto:'#completeChart2',
  data:{
    x:'TIME',
    hide:['TIME'],
    type:'spline',
    columns:[

      ['TIME',
        <%for(i in result2){%>
          <%=result2[i].TIME%>,
        <%}%>
      ],
      ['YIWGS1',
        <%for(i in result2){%>
          <%=result2[i].YIWGS1_C%>,
        <%}%>
      ],
      ['GRWGS1',
        <%for(i in result2){%>
          <%=result2[i].GRWGS1_C%>,
        <%}%>
      ],
      ['GRWGS2',
        <%for(i in result2){%>
          <%=result2[i].GRWGS2_C%>,
        <%}%>
      ],
      ['DAJUN1',
        <%for(i in result2){%>
          <%=result2[i].DAJUN1_C%>,
        <%}%>
      ],
    ],
   },
  grid:{
    x:{
      show:true
    },
    y:{
      show:true
    }
  },

  tooltip:{
    grouped:false,
  },
  legend:{
    hide:['TIME','YIWGS1L','GRWGS1L','GRWGS2L'],
    item:{
      onclick:function(id){
      //  console.log(id);// 범레를 클릭했을 때 기본 동작 함수를 오버라이드 함
      }
    },
    item:{
      onmouseover:function(id){
        var routeName=['YIWGS1','YIWGS1L','GRWGS1','GRWGS1L','GRWGS2','GRWGS2L'];
        jQuery(document).on('mouseover',".c3-legend-item-"+id,function(){
        //console.log('xxx');
        completeChart1.hide(routeName);
        completeChart1.show([id,id+'L']);

        }).on('mouseout','.c3-legend-item-'+id,function(){
          completeChart1.show(routeName);
        });
      }
    }
  },
  axis:{
    x:{
      type:'category',
      //categories:'TIME',
      tick:{
        centered:true
      }
    },
    y:{
      max:100,
      min:20,
      tick:{
        format:d3.format('.0f')
      },
      label:{
        text:'완료율',
        position:'outer-middle'
      }
    }
  },
  color:{
    pattern:['#abcdef','#efefef','#cdef01']
  },
  transition:{
    duration:1000
  },
}); //end chart


//-----------Ajax Group------------
setInterval(function(){
  jQuery.when(jQuery.ajax('/ajax1'),jQuery.ajax('/ajax2')).done(function(res1,res2){

//CSCF#1 시도호 차트
  var TIME=new Array('TIME');
  var YIWGS1=new Array('YIWGS1');
  var GRWGS1=new Array('GRWGS1');
  var GRWGS2=new Array('GRWGS2');
  var DAJUN1=new Array('DAJUN1');

  //console.log(res1[0]);

  for(var i=0;i<res1[0].length;i++){
    TIME.push(res1[0][i].TIME);
    YIWGS1.push(res1[0][i].YIWGS1_A);
    GRWGS1.push(res1[0][i].GRWGS1_A);
    GRWGS2.push(res1[0][i].GRWGS2_A);
    DAJUN1.push(res1[0][i].DAJUN1_A);
  }

  //console.dir(YIWGS1);
  callChart1.load({
    columns:[
      TIME,
      YIWGS1,
      GRWGS1,
      GRWGS2,
      DAJUN1,
    ]
  });

  //CSCF#1 완료율 차트
  var TIME=new Array('TIME');
  var YIWGS1=new Array('YIWGS1');
  var GRWGS1=new Array('GRWGS1');
  var GRWGS2=new Array('GRWGS2');
  var DAJUN1=new Array('DAJUN1');


  for(var i=0;i<res1[0].length;i++){
    TIME.push(res1[0][i].TIME);
    YIWGS1.push(res1[0][i].YIWGS1_C);
    GRWGS1.push(res1[0][i].GRWGS1_C);
    GRWGS2.push(res1[0][i].GRWGS2_C);
    DAJUN1.push(res1[0][i].DAJUN1_C);
  }

  completeChart1.load({
    columns:[
      TIME,
      YIWGS1,
      GRWGS1,
      GRWGS2,
      DAJUN1,
    ]
  });

  //CSCF#2 시도호 차트
  var TIME=new Array('TIME');
  var YIWGS1=new Array('YIWGS1');
  var GRWGS1=new Array('GRWGS1');
  var GRWGS2=new Array('GRWGS2');
  var DAJUN1=new Array('DAJUN1');

  for(var i=0;i<res2[0].length;i++){
    TIME.push(res2[0][i].TIME);
    YIWGS1.push(res2[0][i].YIWGS1_A);
    GRWGS1.push(res2[0][i].GRWGS1_A);
    GRWGS2.push(res2[0][i].GRWGS2_A);
    DAJUN1.push(res2[0][i].DAJUN1_A);
  }

  callChart2.load({
    columns:[
      TIME,
      YIWGS1,
      GRWGS1,
      GRWGS2,
      DAJUN1,
    ]
  });

  //CSCF#2 완료율 차트
  var TIME=new Array('TIME');
  var YIWGS1=new Array('YIWGS1');
  var GRWGS1=new Array('GRWGS1');
  var GRWGS2=new Array('GRWGS2');
  var DAJUN1=new Array('DAJUN1');


  for(var i=0;i<res2[0].length;i++){
    TIME.push(res2[0][i].TIME);
    YIWGS1.push(res2[0][i].YIWGS1_C);
    GRWGS1.push(res2[0][i].GRWGS1_C);
    GRWGS2.push(res2[0][i].GRWGS2_C);
    DAJUN1.push(res2[0][i].DAJUN1_C);
  }

  completeChart2.load({
    columns:[
      TIME,
      YIWGS1,
      GRWGS1,
      GRWGS2,
      DAJUN1,
    ]
  });

}); //done
},6000);

</script>
</body>
</html>
